body {
  background-image: url("../img/poker-table-texture.jpg");
  overflow: hidden;
}

.container {
  perspective: 1000px;
  margin: 50px auto;
  width: 200px;
  height: 200px;
}

/* ------CARDS CODE------ */
.card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

/* .deck {
  position: absolute;
  width: 100%;
  height: 100%;
}

.backDeck {
  position: absolute;
  top: -246px;
  left: 4px;
  z-index: -1;
} */

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

.card.flipped {
  transform: rotateY(180deg);
}

.deck {
  position: absolute;
  top: 28px;
  left: 123px;
  z-index: -1;
}

.subCard1 {
  top: 30px;
  left: 125px;
}
.subCard2 {
  top: 28px;
  left: 123px;
}
.subCard3 {
  top: 26px;
  left: 121px;
}
