body {
  background-image: url("../img/poker-table-texture.jpg");
  overflow: hidden;
}

.container {
  perspective: 1000px;
  margin: 50px auto;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------MAIN CARD CODE------ */
.card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  /* transition: transform 0.8s; */
  transition: transform 1s;
}

.front,
.back {
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
}

.front {
  position: relative;
}

.cardSvg {
  position: absolute;
}

.fakeFrontSvg {
  position: absolute;
}

.back {
  transform: rotateY(180deg);
  /*   animation-name: hideCard;
  animation-duration: 1s; */
}

/* .hidingFront {
}
 */
@keyframes hideCard {
  0% {
    transform: translateX(0px);
  }
  45% {
    transform: translateX(-170px);
  }
  65% {
    transform: translateX(-170px) rotateX(180deg);
  }
  100% {
    transform: translateZ(-1000px) rotateX(180deg);
  }
}

/* .fakeFrontAnimation {
  animation-name: hideCard;
  animation-duration: 1s;
} */

.flip {
  animation-name: hideCard;
  animation-duration: 1s;
}

.flipped {
  transform: rotateY(180deg);
  /* transform: rotate3d(1, 1, 1, 180deg) translateY(-150px); */
  /* transform: translateX(-100%) rotateY(-180deg) translateZ(-100px); */
  /* opacity: 0; */
}

/* --------DECK BEHIND CARD------- */

.deck {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
}

.subCard1 {
  position: absolute;
  top: 2.5%;
  left: 2.5%;
  z-index: -1;
}

.subCard2 {
  position: absolute;
  top: 4.5%;
  left: 4.5%;
  z-index: -1;
}

.subCard3 {
  position: absolute;
  top: 6.5%;
  left: 6.5%;
  z-index: -1;
}
